<!DOCTYPE html>
<html>
  <head>
    <%- include('./includes/head', { siteTitle: themeConfig.siteName }) %>
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, user-scalable=no"
    />
    <noscript>
      <link rel="stylesheet" href="<%= site.themeConfig.domain %>/media/css/noscript.css" />
    </noscript>
  </head>

  <body class="is-preload">
    <!-- Wrapper -->
    <div id="mainpage-wrapper">
    <%- include('./includes/header') %>

      <!-- Main -->
      <div id="main">
        <div class="inner">
          <header>
            <div class="site-description"><%- themeConfig.siteDescription %></div>
          </header>
          <section class="tiles">
            <%- include('./includes/post-list') %>
          </section>

          <%- include('./includes/pagination') %>
          
        </div>
      </div>

      <%- include('./includes/footer') %>

    <!-- Scripts -->
    <script src="<%= site.themeConfig.domain %>/media/scripts/jquery.min.js"></script>
    <script src="<%= site.themeConfig.domain %>/media/scripts/browser.min.js"></script>
    <script src="<%= site.themeConfig.domain %>/media/scripts/breakpoints.min.js"></script>
    <script src="<%= site.themeConfig.domain %>/media/scripts/util.js"></script>
    <script src="<%= site.themeConfig.domain %>/media/scripts/main.js"></script>
  </body>
</html>
