<!DOCTYPE html>
<html>
  <head>
    <%- include('./includes/head', { siteTitle: ` ${themeConfig.siteName}` }) %>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
  </head>
  <body class="is-preload"> 
		<!-- Wrapper -->
			<div id="wrapper">
      <%- include('./includes/header') %>
				<!-- Main -->
					<div id="main">
						<div class="inner">
              <h2 class="tags-title">
                标签
              </h2> 
              <div class="tags-container">
                <% tags.forEach((tag) => { %>
                  <a class="tag" href="<%= tag.link %>"><%= tag.name %></a>
                <% }); %>
              </div>
    
            </div>
					</div>

        <%- include('./includes/footer') %>
			</div>

		<!-- Scripts -->
			<script src="<%= site.themeConfig.domain %>/media/scripts/jquery.min.js"></script>
			<script src="<%= site.themeConfig.domain %>/media/scripts/browser.min.js"></script>
			<script src="<%= site.themeConfig.domain %>/media/scripts/breakpoints.min.js"></script>
			<script src="<%= site.themeConfig.domain %>/media/scripts/util.js"></script>
			<script src="<%= site.themeConfig.domain %>/media/scripts/main.js"></script>

      </div>
    </div>
  </body>
</html>

